@model FunAndChecks.DTO.SubjectResultsDto

    <table class="table table-bordered table-striped text-center">
    <thead>
    <tr>
    <th style="width: 20%;">ФИО</th>
    <th style="width: 10%;">Группа</th>
    @foreach (var task in Model.TaskHeaders)
{
    <th>@task.TaskName</th>
}
<th style="width: 5%;">Σ Баллы</th> @* <-- ПУНКТ 2: КОЛОНКА С СУММОЙ *@
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.UserResults.OrderBy(u => u.FullName))
{
    <tr>
        <td class="text-start">@user.FullName</td>
        <td>@user.GroupName</td>
        @foreach (var task in Model.TaskHeaders)
    {
        var cell = user.Results[task.TaskId];
            <td style="background-color: @(cell.AdminColor ?? "#FFFFFF");">
            @cell.DisplayValue
            </td>
    }
    <td><b>@user.TotalPoints</b></td>
        </tr>
}
</tbody>
    </table>